.header{
  padding: 39px 0 36px;
  &__content{
    display: flex;
    justify-content: space-between;
  }
  &__link{
    @include text($noto, normal, 18px, 25px, #2C2C2C);
    transition: .5s;
    &:hover{
      color: #FF715B;
      transition: .5s;
    }
  }
  &__list{
    display: flex;
    column-gap: 100px;
    align-items: center;
  }
  &__user{
    display: flex;
    column-gap: 10px;
    align-items: center;
    &-title {
      margin-right: 10px;
      @include text($noto, normal, 18px, 25px, #2C2C2C);
      transition: .5s;
      &:hover{
        color: #FF715B;
        transition: .5s;
      }
    }
      &-search{
      margin-left: 20px;
      position: relative;
      &::after{
        content: '';
        width: 20px;
        height: 0;
        border: 1px solid #F1E0DD;
        transform: rotate(90deg);
        position: absolute;
        top: 8px;
        left: -30px
      }
    }
  }
}