.overlay{
  display: none;
  width: 100%;
  height: 100vh;
  background: #00000050;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .popup{
    height: 500px;
    width: 400px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__close{
      position: absolute;
      width: 35px;
      height: 35px;
      right: -60px;
      cursor: pointer;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: #FF715B;
        transform: rotate(-45deg);
      }
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: #FF715B;
        transform: rotate(45deg);
      }
    }
    &__on{
      background: url("../images/world/bg.png") center/cover no-repeat ;
      padding: 50px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &-title{
        @include text($sans, 600, 24px, 33px, #000);
      }
    }
    &__bot{
      padding: 50px 100px 50px;
     &-text{
       margin-bottom: 15px;
       @include text($sans, normal, 24px, 36px, #A79997);
     }
    }
  }
}